<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>docParse Service</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <form action="" class="ui-form">
        <h3>docParse Service</h3>
        <div class="form-row">
            <input name="url" type="url" id="url" required autocomplete="off"><label for="url">URL for docParse Service</label>
        </div>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>
