<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>docGen Service</title>
    <link href="{{ url_for('static', filename='root.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="two"><h1>docParse Service</h1></div>
<div class="post-wrap">

    <div class="post-item">
        <div class="item-content">
            <div class="item-icon group"></div>
            <div class="item-body">
                <h3>Parse Text</h3>
                <p>Parse text by specified URL.</p>
            </div>
            <div class="item-footer">
                <a href="get_parsed_text" class="link"><span>Parse Text</span></a>
            </div>
        </div>
    </div>

</div>
</body>
</html>